---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
---

<BaseLayout>
  <Header />
  <main class="max-w-4xl mx-auto my-8">
    <article>
      <p>这里是主页</p>
      <p>请修改 <code>/src/pages/index.astro</code> 进行定制</p>
    </article>
  </main>
  <Footer />
</BaseLayout>
