---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import Header from '@/components/Header.astro';
---

<BaseLayout title="Astro">
  <Header />
  <h1>Astro</h1>
</BaseLayout>
