---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
---

<BaseLayout title="记录点">
  <Header />
  <main class="max-w-4xl mx-auto my-8">
    <p>这里是记录点</p>
  </main>
  <Footer />
</BaseLayout>
