---
import cfg from '@/config';

// Components
import HeaderNavItem from '@/components/HeaderNavItem.astro';
import RouterLink from '@/components/RouterLink.astro';
import { Image } from 'astro:assets';
---

<header class="bg-neutral-800 sticky text-white top-0 w-full">
  <div class="flex items-center justify-between max-w-5xl mx-auto py-2">
    <RouterLink class="flex gap-2 items-center" href="/">
      {
        cfg.siteLogo && (
          <Image
            alt="logo"
            height="24"
            loading="eager"
            src={cfg.siteLogo}
            width="24"
          />
        )
      }
      <span class="text-lg">{cfg.siteName}</span>
    </RouterLink>
    <nav class="flex gap-6 items-end">
      <HeaderNavItem
        icon="mdi:home-outline"
        match={/^\/$/}
        name="主页"
        to="/"
      />
      <HeaderNavItem
        icon="mdi:rocket-launch-outline"
        match={/^\/puzzle/}
        name="开始探索"
        to="/puzzle/1"
      />
      <HeaderNavItem
        icon="mdi:list-box-outline"
        match={/^\/record$/}
        name="记录点"
        to="/record"
      />
      <HeaderNavItem
        icon="mdi:about-circle-outline"
        match={/^\/about/}
        name="关于"
        to="/about/intro"
      />
    </nav>
  </div>
</header>
