---
// Components
import RouterLink from '@/components/RouterLink.astro';
import { Icon } from 'astro-icon/components';

// Types
type Props = { icon: string; match: RegExp; name: string; to: string };

// Injects
const { icon, match, name, to } = Astro.props;

// Constants
const currentUrl: string = ((): string => {
  const tmp: string = Astro.url.pathname.slice(import.meta.env.BASE_URL.length);
  return tmp.startsWith('/') ? tmp : '/' + tmp;
})();
---

<RouterLink
  class:list={[
    'flex gap-1 items-end ',
    match.test(currentUrl) ? 'text-white' : 'text-neutral-400 hover:text-white'
  ]}
  to={to}>
  <Icon class="text-lg" name={icon} />
  <span class="text-sm">{name}</span>
</RouterLink>
